#orientation-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1050;
  font-size: 6vmin;
  line-height: 6vmin;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: none;
}
#orientation-block:after {
  content: 'האתר אינו נתמך בתצוגה רוחבית נא לעבור לתצוגה אנכית';
  width: 50vmin;
  height: 30vmin;
  left: 50%;
  top: 50%;
  margin-left: -25vmin;
  margin-top: -22vmin;
  position: absolute;
  background: url(../img/lock.png) no-repeat;
  background-position: top center;
  background-size: 60% auto;
  box-sizing: border-box;
  padding: 28vmin 0 0 0;
}
@media all and (min-width: 813px) and (max-width: 991px) and (orientation: portrait) {
  /* start and end of large tablet styles */
  #orientation-block {
    display: block;
  }
}
@media all and (min-width: 813px) and (max-width: 1366px) and (orientation: portrait) {
  /* start and end of large tablet styles (iPad Pro fix) */
  #orientation-block {
    display: block;
  }
}
@media all and (max-width: 812px) and (orientation: landscape) {
  /* start of medium tablet styles */
  #orientation-block {
    display: block;
  }
}
@media all and (max-width: 823px) and (orientation: landscape) {
  /* start of medium tablet styles (Pixel 2 XL fix) */
  #orientation-block {
    display: block;
  }
}
@media all and (max-width: 479px) and (orientation: landscape) {
  /* start of phone styles */
  #orientation-block {
    display: block;
  }
}
@media all and (min-width: 300px) and (max-width: 490px) and (max-height: 860px) {
  #orientation-block {
    display: none !important;
  }
}
@media all and (max-width: 813px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  body {
    background: url(../img/bg-mobile.jpg) top center no-repeat;
    background-size: 100% auto;
    /*
        &:after {
          left: 6*@x;
          top: 200*@x;
          margin: 0;
          height: 62*@x;
          width: 10*@x;
          background-size: auto 100%;
        }
    */
  }
  .header {
    display: block;
    position: absolute;
    top: 65.625vw;
    left: 0;
    right: 0;
    height: 4.6875vw;
    z-index: 2;
  }
  .woman {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -6.40625vw;
    width: 12.8125vw;
    height: 12.8125vw;
  }
  .logo {
    position: absolute;
    width: 38.125vw;
    height: 6.40625vw;
    top: 14.0625vw;
    left: 50%;
    margin-left: -19.0625vw;
    background-image: url(../img/logo-mobile.png);
  }
  .accessibility .btn_accessibility,
  .accessibility .btn_accessibility:hover,
  .accessibility .btn_accessibility:focus {
    background-image: url(../img/accessibility-mobile.png) !important;
    width: 6.25vw !important;
    height: 6.25vw !important;
    position: absolute !important;
    right: 23px !important;
    top: 62px !important;
  }
  .content .container {
    width: 100%;
  }
  .content .section-image {
    display: none;
  }
  .content .section-form {
    width: 100%;
    padding-top: 10.9375vw;
  }
  .content .section-form .headings {
    width: 54.6875vw;
    margin-right: 40.625vw;
  }
  h1,
  h2 {
    font-size: 6.875vw;
  }
  h3 {
    font-size: 3.4375vw;
    line-height: 1.6;
  }
  h4 {
    font-size: 7.03125vw;
    margin: 0;
  }
  hr {
    margin: 3.125vw 0;
  }
  form {
    margin-top: 6.875vw;
    padding: 17.96875vw 0 7.8125vw;
    background: #0077d8;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005db6', endColorstr='#004387', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  h5 {
    font-size: 5.3125vw;
    margin-bottom: 1.25vw;
  }
  h6 {
    font-size: 4.375vw;
    margin-bottom: 2.34375vw;
  }
  .phone {
    color: #2363aa;
    background: #fff;
    padding: 0 0.78125vw;
    font-weight: 700;
    line-height: 1.2;
    display: inline-block;
  }
  input,
  button[type=submit] {
    height: 6.25vw;
    margin: 0 0 2.8125vw;
    padding: 0 1.5625vw;
    font-size: 4.0625vw;
  }
  button[type=submit] {
    font-size: 5.625vw;
    height: 7.8125vw;
    margin-bottom: 0;
  }
  button[type=submit] img {
    width: 8.59375vw;
    height: 4.375vw;
  }
  .agreement,
  .note {
    margin: 0 18.75vw 0 0;
    line-height: 1.5;
  }
  .agreement {
    font-size: 2.65625vw;
    letter-spacing: -0.0625vw;
    margin-bottom: 1.5625vw;
  }
  .note {
    font-size: 2.03125vw;
  }
  .field {
    width: 63.4375vw;
    display: block;
    margin: 0 auto;
  }
  .field .error-text {
    font-size: 3.75vw;
    margin: -2.65625vw 0 0.46875vw;
  }
  .placeholder {
    font-size: 4.0625vw;
  }
  ::-webkit-input-placeholder {
    font-size: 4.0625vw;
  }
  ::-moz-placeholder {
    font-size: 4.0625vw;
  }
  :-ms-input-placeholder {
    font-size: 4.0625vw;
  }
  :-moz-placeholder {
    font-size: 4.0625vw;
  }
  .popup {
    background: #0077d8;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #005db6 0%, #004387 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005db6', endColorstr='#004387', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  .popup .popup-content {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=responsive.css.map */