#orientation-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1050;
  font-size: 6vmin;
  line-height: 6vmin;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: none;
}

#orientation-block:after {
  content: 'האתר אינו נתמך בתצוגה רוחבית נא לעבור לתצוגה אנכית';
  width: 50vmin;
  height: 30vmin;
  left: 50%;
  top: 50%;
  margin-left: -25vmin;
  margin-top: -22vmin;
  position: absolute;
  background: url(../img/lock.png) no-repeat;
  background-position: top center;
  background-size: 60% auto;
  box-sizing: border-box;
  padding: 28vmin 0 0 0;
}

@media all and (min-width: 813px) and (max-width: 991px) and (orientation: portrait) {
  /* start and end of large tablet styles */
  #orientation-block {
    display: block;
  }
}

@media all and (min-width: 813px) and (max-width: 1366px) and (orientation: portrait) {
  /* start and end of large tablet styles (iPad Pro fix) */
  #orientation-block {
    display: block;
  }


}

@media all and (max-width: 812px) and (orientation: landscape) {
  /* start of medium tablet styles */
  #orientation-block {
    display: block;
  }
}

@media all and (max-width: 823px) and (orientation: landscape) {
  /* start of medium tablet styles (Pixel 2 XL fix) */
  #orientation-block {
    display: block;
  }
}

@media all and (max-width: 479px) and (orientation: landscape) {
  /* start of phone styles */
  #orientation-block {
    display: block;
  }
}

// Fix for androids with opened keyboard
@media all and (min-width: 300px) and (max-width: 490px) and (max-height: 860px) {
  #orientation-block {
    display: none !important;
  }
}

@media all and (max-width: 813px) {
  @x: 100vw/640;

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  body {
    background: url(../img/bg-mobile.jpg) top center no-repeat;
    background-size: 100% auto;
    /*
        &:after {
          left: 6*@x;
          top: 200*@x;
          margin: 0;
          height: 62*@x;
          width: 10*@x;
          background-size: auto 100%;
        }
    */
  }

  .header {
    display: block;
    position: absolute;
    top: 420*@x;
    left: 0;
    right: 0;
    height: 30*@x;
    z-index: 2;
  }

  .woman {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -41*@x;
    width: 82*@x;
    height: 82*@x;
  }

  .logo {
    position: absolute;
    width: 244*@x;
    height: 41*@x;
    top: 90*@x;
    left: 50%;
    margin-left: -122*@x;
    background-image: url(../img/logo-mobile.png);
  }

  .accessibility .btn_accessibility, .accessibility .btn_accessibility:hover, .accessibility .btn_accessibility:focus {
    background-image: url(../img/accessibility-mobile.png) !important;
    width: 40*@x !important;
    height: 40*@x !important;
    position: absolute !important;
    right: 23px !important;
    top: 62px !important;
  }

  .content {
    .container {
      width: 100%;
    }

    .section-image {
      display: none;
    }

    .section-form {
      width: 100%;
      padding-top: 70*@x;

      .headings {
        width: 350*@x;
        margin-right: 260*@x;
      }
    }
  }

  h1, h2 {
    font-size: 44*@x;
  }

  h3 {
    font-size: 22*@x;
    line-height: 1.6;
  }

  h4 {
    font-size: 45*@x;
    margin: 0;
  }

  hr {
    margin: 20*@x 0;
  }

  form {
    margin-top: 44*@x;
    padding: 115*@x 0 50*@x;
    background: #0077d8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #005db6 0%, #004387 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #005db6 0%, #004387 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #005db6 0%, #004387 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005db6', endColorstr='#004387', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  }

  h5 {
    font-size: 34*@x;
    margin-bottom: 8*@x;
  }

  h6 {
    font-size: 28*@x;
    margin-bottom: 15*@x;
  }

  .phone {
    color: #2363aa;
    background: #fff;
    padding: 0 5*@x;
    font-weight: 700;
    line-height: 1.2;
    display: inline-block;
  }

  input, button[type=submit] {
    height: 40*@x;
    margin: 0 0 18*@x;
    padding: 0 10*@x;
    font-size: 26*@x;
  }

  button[type=submit] {
    font-size: 36*@x;
    height: 50*@x;
    margin-bottom: 0;

    img {
      width: 55*@x;
      height: 28*@x;
    }
  }

  .agreement,
  .note {
    margin: 0 120*@x 0 0;
    line-height: 1.5;
  }

  .agreement {
    font-size: 17*@x;
    letter-spacing: -0.4*@x;
    margin-bottom: 10*@x;
  }

  .note {
    font-size: 13*@x;
  }

  .field {
    //width: 300*@x;
    width: 406*@x; //
    display: block;
    margin: 0 auto;

    .error-text {
      font-size: 24*@x;
      margin: -17*@x 0 3*@x;
    }
  }

  .placeholder {
    font-size: 26*@x;
  }

  ::-webkit-input-placeholder {
    .placeholder();
  }

  ::-moz-placeholder {
    .placeholder();
  }

  :-ms-input-placeholder {
    .placeholder();
  }

  :-moz-placeholder {
    .placeholder();
  }

  // Popup
  .popup {
    background: #0077d8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #005db6 0%, #004387 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #005db6 0%, #004387 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #005db6 0%, #004387 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005db6', endColorstr='#004387', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    .popup-content {
      font-size: 32*@x;
    }
  }

}

