@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.woff') format('woff'), url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Medium.woff') format('woff'), url('../fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff') format('woff'), url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
}
.mobile-only {
  display: none;
}
body {
  margin: 0;
  direction: rtl;
  background-color: #d5c9be;
  background-image: url(../img/bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../img/bg.jpg), url(../img/bg-pattern.jpg);
  background-position: center bottom, center top;
  background-repeat: no-repeat, repeat-y;
  background-size: 100% auto, 100% auto;
  height: 100vh;
  font-family: 'Heebo', sans-serif;
  font-size: 1.04166667vw;
  line-height: 1.3;
  /*
      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        width: 17px;
        height: 88px;
        margin-top: -44px;
        background: url(../img/bg-logo.png) left top no-repeat;
      }
  */
}
body.notframed #warning {
  display: none;
}
body.framed {
  display: none;
}
#warning {
  color: #000;
}
.container {
  width: 48.95833333vw;
  margin: 0 auto;
}
.header {
  height: 5.20833333vw;
  background: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  width: 11.14583333vw;
  height: 1.875vw;
}
.woman {
  background: url(../img/woman.png) no-repeat;
  background-size: 100%;
  width: 6.66666667vw;
  height: 6.71875vw;
  margin-bottom: -1.51041667vw;
}
.btn_accessibility {
  display: none;
}
.accessibility {
  width: 11.14583333vw;
}
.accessibility .btn_accessibility,
.accessibility .btn_accessibility:hover,
.accessibility .btn_accessibility:focus {
  display: block;
  position: static !important;
  background: url(../img/accessibility.png) center center no-repeat !important;
  background-size: 100% !important;
  overflow: hidden;
  text-indent: -100vw;
  width: 2.91666667vw;
  height: 2.91666667vw;
  padding: 0;
  border: 0;
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  float: left;
}
.accessibility .btn_accessibility span,
.accessibility .btn_accessibility:hover span,
.accessibility .btn_accessibility:focus span,
.accessibility .btn_accessibility img,
.accessibility .btn_accessibility:hover img,
.accessibility .btn_accessibility:focus img {
  display: none;
}
.accessibility .btn_accessibility:focus {
  outline: 3px solid #9dbff6 !important;
}
.content .container {
  display: flex;
  justify-content: space-between;
}
.content .section-form {
  width: 19.79166667vw;
  padding: 3.64583333vw 0 0;
}
.content .section-image {
  width: 20.83333333vw;
  margin-right: -10.41666667vw;
}
h1,
h2 {
  font-size: 2.39583333vw;
  line-height: 1;
  font-weight: 700;
  color: #2363aa;
  margin: 0;
  text-align: center;
}
h2 {
  font-weight: 400;
}
hr {
  border: 0;
  background: #ea8673;
  height: 1px;
  margin: 1.04166667vw 0 0.78125vw;
}
form {
  position: relative;
  padding: 1.04166667vw 0 1.5625vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0077d8+0,0058af+100 */
  background: #0077d8;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077d8', endColorstr='#0058af', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
h3 {
  font-size: 1.19791667vw;
  line-height: 1.3;
  color: #2363aa;
  text-align: center;
  font-weight: 500;
  margin: 0;
}
h4 {
  font-size: 2.76041667vw;
  color: #e22d0c;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.15625vw;
  margin: 1.04166667vw 0;
}
h5,
h6 {
  text-align: center;
  font-weight: 500;
  font-size: 1.40625vw;
  color: #fff;
  margin: 0;
}
h6 {
  font-size: 1.09375vw;
  margin-bottom: 0.78125vw;
}
.phone {
  color: #fff;
  text-decoration: none;
}
input,
button[type=submit] {
  height: 2.29166667vw;
  border: 1px solid #fff;
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  margin: 0 2.08333333vw 1.25vw;
  padding: 0 0.78125vw;
  color: #fff;
  font-size: 1.25vw;
  font-weight: 500;
}
button[type=submit] {
  background: #ed1c23;
  border: 0;
  font-size: 1.66666667vw;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;
}
button[type=submit] img {
  width: 1.875vw;
  height: 0.9375vw;
}
.agreement,
.note {
  margin: 0 2.08333333vw 0 0;
  line-height: 1.5;
}
.agreement {
  font-size: 0.67708333vw;
  letter-spacing: -0.02083333vw;
  color: #fff;
  margin-bottom: 0.52083333vw;
}
.agreement a {
  color: #fff;
  text-decoration: underline;
}
.note {
  font-size: 0.78125vw;
  color: #fff;
}
.field {
  width: 15.625vw;
}
.field .error-text {
  color: #e22d0c;
  font-size: 1.25vw;
  font-weight: 500;
  margin: -1.04166667vw 2.08333333vw 0.15625vw;
}
input [type=email] {
  direction: ltr;
  text-align: right;
}
input.error {
  outline: 2px solid red;
}
input.error:focus {
  outline: 3px solid red;
}
input.error:focus {
  outline-offset: 0;
}
.placeholder {
  color: #fff;
  font-size: 1.25vw;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.25vw;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
::-moz-placeholder {
  color: #fff;
  font-size: 1.25vw;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
:-ms-input-placeholder {
  color: #fff;
  font-size: 1.25vw;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
:-moz-placeholder {
  color: #fff;
  font-size: 1.25vw;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #0077d8;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0077d8 0%, #0058af 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077d8', endColorstr='#0058af', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.popup .popup-content {
  color: #fff;
  text-align: center;
  font-size: 1.66666667vw;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.popup .popup-content .popup-title {
  font-weight: bold;
}
*:focus {
  outline: 3px solid #9dbff6;
}
@media all and (min-aspect-ratio: 1920/1080) and (min-width: 1024px) {
  body {
    background-size: auto 100%;
    background-size: auto 100%, auto 40%;
  }
  .content .section-form {
    width: 35.18518519vh;
    padding: 6.48148148vh 0 0;
  }
  h1,
  h2 {
    font-size: 4.25925926vh;
  }
  hr {
    margin: 1.85185185vh 0 1.38888889vh;
  }
  form {
    padding: 1.85185185vh 0 2.77777778vh;
  }
  h3 {
    font-size: 2.12962963vh;
  }
  h4 {
    font-size: 4.90740741vh;
    letter-spacing: -0.27777778vh;
    margin: 1.85185185vh 0;
  }
  h5,
  h6 {
    font-size: 2.5vh;
  }
  h6 {
    font-size: 1.94444444vh;
    margin-bottom: 1.38888889vh;
  }
  input,
  button[type=submit] {
    height: 4.07407407vh;
    margin: 0 3.7037037vh 2.22222222vh;
    padding: 0 1.38888889vh;
    font-size: 2.22222222vh;
  }
  button[type=submit] {
    font-size: 2.96296296vh;
  }
  button[type=submit] img {
    width: 3.33333333vh;
    height: 1.66666667vh;
  }
  .agreement,
  .note {
    margin: 0 3.7037037vh 0 0;
  }
  .agreement {
    font-size: 1.2037037vh;
    margin-bottom: 0.92592593vh;
  }
  .note {
    font-size: 1.38888889vh;
  }
  .field {
    width: 27.77777778vh;
  }
  .field .error-text {
    font-size: 2.22222222vh;
    margin: -1.85185185vh 3.7037037vh 0.27777778vh;
  }
  .placeholder {
    color: #fff;
    font-size: 2.22222222vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  ::-webkit-input-placeholder {
    color: #fff;
    font-size: 2.22222222vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  ::-moz-placeholder {
    color: #fff;
    font-size: 2.22222222vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  :-ms-input-placeholder {
    color: #fff;
    font-size: 2.22222222vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  :-moz-placeholder {
    color: #fff;
    font-size: 2.22222222vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  .popup .popup-content {
    font-size: 2.96296296vh;
  }
}
@media all and (min-width: 813px) and (max-width: 1024px) {
  body {
    background-image: url(../img/bg-tablet.jpg), url(../img/bg-pattern.jpg);
    background-size: auto 100%, auto 40%;
  }
  .container {
    width: 80vw;
  }
  .content .section-form {
    width: 36.19047619vh;
    padding: 6.66666667vh 0 0;
  }
  h1,
  h2 {
    font-size: 4.38095238vh;
  }
  hr {
    margin: 1.9047619vh 0 1.42857143vh;
  }
  form {
    padding: 1.9047619vh 0 2.85714286vh;
  }
  h3 {
    font-size: 2.19047619vh;
  }
  h4 {
    font-size: 5.04761905vh;
    letter-spacing: -0.28571429vh;
    margin: 1.9047619vh 0;
  }
  h5,
  h6 {
    font-size: 2.57142857vh;
  }
  h6 {
    font-size: 2vh;
    margin-bottom: 1.42857143vh;
  }
  input,
  button[type=submit] {
    height: 4.19047619vh;
    margin: 0 3.80952381vh 2.28571429vh;
    padding: 0 1.42857143vh;
    font-size: 2.28571429vh;
  }
  button[type=submit] {
    font-size: 3.04761905vh;
  }
  button[type=submit] img {
    width: 3.42857143vh;
    height: 1.71428571vh;
  }
  .agreement,
  .note {
    margin: 0 3.80952381vh 0 0;
  }
  .agreement {
    font-size: 1.23809524vh;
    margin-bottom: 0.95238095vh;
  }
  .note {
    font-size: 1.42857143vh;
  }
  .field {
    width: 28.57142857vh;
  }
  .field .error-text {
    font-size: 2.28571429vh;
    margin: -1.9047619vh 3.80952381vh 0.28571429vh;
  }
  .placeholder {
    color: #fff;
    font-size: 2.28571429vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  ::-webkit-input-placeholder {
    color: #fff;
    font-size: 2.28571429vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  ::-moz-placeholder {
    color: #fff;
    font-size: 2.28571429vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  :-ms-input-placeholder {
    color: #fff;
    font-size: 2.28571429vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  :-moz-placeholder {
    color: #fff;
    font-size: 2.28571429vh;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  .popup .popup-content {
    font-size: 3.04761905vh;
  }
}
/*# sourceMappingURL=styles.css.map */