@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.woff') format('woff'), url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Medium.woff') format('woff'), url('../fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff') format('woff'), url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
}


@f: 'Heebo', sans-serif;

.mobile-only {
  display: none;
}

body {
  margin: 0;
  direction: rtl;
  background-color: #d5c9be;
  background-image: url(../img/bg.jpg); // fallback
  background-position: center bottom; // fallback
  background-repeat: no-repeat; // fallback
  background-size: 100% auto; // fallback
  background-image: url(../img/bg.jpg), url(../img/bg-pattern.jpg);
  background-position: center bottom, center top;
  background-repeat: no-repeat, repeat-y;
  background-size: 100% auto, 100% auto;
  height: 100vh;
  font-family: @f;
  font-size: 20*@x;
  line-height: 1.3;

  /*
      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        width: 17px;
        height: 88px;
        margin-top: -44px;
        background: url(../img/bg-logo.png) left top no-repeat;
      }
  */
}

body.notframed #warning {
  display: none;
}

body.framed {
  display: none;
}

#warning {
  color: #000;
}

@x: 100vw/1920;


.container {
  width: 940*@x;
  margin: 0 auto;
}

.header {
  height: 100*@x;
  background: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  width: 214*@x;
  height: 36*@x;
}

.woman {
  background: url(../img/woman.png) no-repeat;
  background-size: 100%;
  width: 128*@x;
  height: 129*@x;
  margin-bottom: -29*@x;
}

.btn_accessibility {
  display: none;
}

.accessibility {
  width: 214*@x; //same as logo!
  .btn_accessibility, .btn_accessibility:hover, .btn_accessibility:focus {
    display: block;
    position: static !important;
    background: url(../img/accessibility.png) center center no-repeat !important;
    background-size: 100% !important;
    overflow: hidden;
    text-indent: -100vw;
    width: 56*@x;
    height: 56*@x;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;
    float: left;

    span, img {
      display: none;
    }
  }

  .btn_accessibility:focus {
    outline: 3px solid #9dbff6 !important;
  }
}

.content {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .section-form {
    width: 380*@x;
    padding: 70*@x 0 0;
  }

  .section-image {
    width: 400*@x;
    margin-right: -200*@x;
  }
}

h1, h2 {
  font-size: 46*@x;
  line-height: 1;
  font-weight: 700;
  color: #2363aa;
  margin: 0;
  text-align: center;
}

h2 {
  font-weight: 400;
}

hr {
  border: 0;
  background: #ea8673;
  height: 1px;
  margin: 20*@x 0 15*@x;
}

form {
  position: relative;
  padding: 20*@x 0 30*@x;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0077d8+0,0058af+100 */
  background: #0077d8; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077d8', endColorstr='#0058af', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

h3 {
  font-size: 23*@x;
  line-height: 1.3;
  color: #2363aa;
  text-align: center;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 53*@x;
  color: #e22d0c;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -3*@x;
  margin: 20*@x 0;
}

h5, h6 {
  text-align: center;
  font-weight: 500;
  font-size: 27*@x;
  color: #fff;
  margin: 0;
}

h6 {
  font-size: 21*@x;
  margin-bottom: 15*@x;
}

.phone {
  color: #fff;
  text-decoration: none;
}

input, button[type=submit] {
  height: 44*@x;
  border: 1px solid #fff;
  background: transparent;
  box-sizing: border-box;
  //display: block;
  width: 100%;
  margin: 0 40*@x 24*@x;
  padding: 0 15*@x;
  color: #fff;
  font-size: 24*@x;
  font-weight: 500;

  //font-size: 24px;
}

button[type=submit] {
  background: #ed1c23;
  border: 0;
  font-size: 32*@x;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0;

  img {
    width: 36*@x;
    height: 18*@x;
  }
}

.agreement,
.note {
  margin: 0 40*@x 0 0;
  line-height: 1.5;
}

.agreement {
  font-size: 13*@x;
  letter-spacing: -0.4*@x;
  color: #fff;
  margin-bottom: 10*@x;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.note {
  font-size: 15*@x;
  color: #fff;
}

.field {
  width: 300*@x;

  .error-text {
    color: #e22d0c;
    font-size: 24*@x;
    font-weight: 500;
    margin: -20*@x 40*@x 3*@x;
  }
}

input {
  [type=email] {
    direction: ltr;
    text-align: right;
  }

  &.error {
    outline: 2px solid red;

    &:focus {
      outline: 3px solid red;
    }

    &:focus {
      outline-offset: 0;
    }
  }
}

.placeholder {
  color: #fff;
  font-size: 24*@x;
  font-family: @f;
  font-weight: 500;
}

::-webkit-input-placeholder {
  .placeholder();
}

::-moz-placeholder {
  .placeholder();
}

:-ms-input-placeholder {
  .placeholder();
}

:-moz-placeholder {
  .placeholder();
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// Popup
.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #0077d8; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0077d8 0%, #0058af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077d8', endColorstr='#0058af', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  .popup-content {
    color: #fff;
    text-align: center;
    font-size: 32*@x;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    .popup-title {
      font-weight: bold;

    }
  }
}


*:focus {
  outline: 3px solid #9dbff6;
}

@media all and (min-aspect-ratio: ~"1920/1080") and (min-width: 1024px) {
  body {
    background-size: auto 100%; // fallback
    background-size: auto 100%, auto 40%;
  }

  @x: 100vh/1080;

  .content {
    .section-form {
      width: 380*@x;
      padding: 70*@x 0 0;
    }
  }

  h1, h2 {
    font-size: 46*@x;
  }

  hr {
    margin: 20*@x 0 15*@x;
  }

  form {
    padding: 20*@x 0 30*@x;
  }

  h3 {
    font-size: 23*@x;
  }

  h4 {
    font-size: 53*@x;
    letter-spacing: -3*@x;
    margin: 20*@x 0;
  }

  h5, h6 {
    font-size: 27*@x;
  }

  h6 {
    font-size: 21*@x;
    margin-bottom: 15*@x;
  }

  input, button[type=submit] {
    height: 44*@x;
    margin: 0 40*@x 24*@x;
    padding: 0 15*@x;
    font-size: 24*@x;
  }

  button[type=submit] {
    font-size: 32*@x;

    img {
      width: 36*@x;
      height: 18*@x;
    }
  }

  .agreement,
  .note {
    margin: 0 40*@x 0 0;
  }

  .agreement {
    font-size: 13*@x;
    margin-bottom: 10*@x;
  }

  .note {
    font-size: 15*@x;
  }

  .field {
    width: 300*@x;

    .error-text {
      font-size: 24*@x;
      margin: -20*@x 40*@x 3*@x;
    }
  }

  .placeholder {
    color: #fff;
    font-size: 24*@x;
    font-family: @f;
    font-weight: 500;
  }

  ::-webkit-input-placeholder {
    .placeholder();
  }

  ::-moz-placeholder {
    .placeholder();
  }

  :-ms-input-placeholder {
    .placeholder();
  }

  :-moz-placeholder {
    .placeholder();
  }

  // Popup
  .popup {
    .popup-content {
      font-size: 32*@x;
    }
  }

}

@media all and (min-width: 813px) and (max-width: 1024px) {
  //(min-aspect-ratio: ~"1920/1080") and
  //@x: 100vw/1024;
  body {
    background-image: url(../img/bg-tablet.jpg), url(../img/bg-pattern.jpg);
    background-size: auto 100%, auto 40%;
  }

  .container {
    width: 80vw;
  }

  @x: 100vh/1050;

  .content {
    .section-form {
      width: 380*@x;
      padding: 70*@x 0 0;
    }
  }

  h1, h2 {
    font-size: 46*@x;
  }

  hr {
    margin: 20*@x 0 15*@x;
  }

  form {
    padding: 20*@x 0 30*@x;
  }

  h3 {
    font-size: 23*@x;
  }

  h4 {
    font-size: 53*@x;
    letter-spacing: -3*@x;
    margin: 20*@x 0;
  }

  h5, h6 {
    font-size: 27*@x;
  }

  h6 {
    font-size: 21*@x;
    margin-bottom: 15*@x;
  }

  input, button[type=submit] {
    height: 44*@x;
    margin: 0 40*@x 24*@x;
    padding: 0 15*@x;
    font-size: 24*@x;
  }

  button[type=submit] {
    font-size: 32*@x;

    img {
      width: 36*@x;
      height: 18*@x;
    }
  }

  .agreement,
  .note {
    margin: 0 40*@x 0 0;
  }

  .agreement {
    font-size: 13*@x;
    margin-bottom: 10*@x;
  }

  .note {
    font-size: 15*@x;
  }

  .field {
    width: 300*@x;

    .error-text {
      font-size: 24*@x;
      margin: -20*@x 40*@x 3*@x;
    }
  }

  .placeholder {
    color: #fff;
    font-size: 24*@x;
    font-family: @f;
    font-weight: 500;
  }

  ::-webkit-input-placeholder {
    .placeholder();
  }

  ::-moz-placeholder {
    .placeholder();
  }

  :-ms-input-placeholder {
    .placeholder();
  }

  :-moz-placeholder {
    .placeholder();
  }

  // Popup
  .popup {
    .popup-content {
      font-size: 32*@x;
    }
  }
}